
body{
    background-color: rgb(19, 38, 132);
}
#a{
    border: 5px solid black;
    height: 675px;
    width: 1450px;
    margin: 10px;
    background-color: white;
}
#b{
    margin: 80px;
   float: left;
    border: 5px solid rgb(165, 158, 158);
    height: 570px;
    width: 500px;
    margin-top: 20px;
    border-radius: 25px;
    padding: 20px;
    background-color: rgb(248, 244, 244);

}

#c{
    margin-right: 50px;
    float: right;
    height: 40px;
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 30px;
    margin-top: 10px;
    
}
#d{
    float: left;
    font-size:20px;
    font-weight: bold;
    margin-top: 30px;

}
#e{
    margin-top: 10px;
    float:right;
    width: 210px;
    height: 45px;
    border: 2px solid black;
    border-radius: 10px;
    margin-right: 48px;
}
table{
    border: 5px solid black;
    padding: 10px;
    font-size:20px;
    width: 500px;
    text-align: center;
}
#amount{
     margin-right: 50px;
    float: right;
    height: 40px;
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 30px;
    margin-top: 10px;
     
}